*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px ;
}
body{
    background-image:url(../images/pattern-background-mobile.svg) ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Red Hat Display;
}
.caja-uno{
    background-image: url(../images/illustration-hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 11rem;
    border-radius:25px 25px 0px 0px ;
}
.caja-principal{
    background-color: white;
    width: 90%;
    border-radius: 25px;
    align-self: center;
    text-align: center;
}
.caja-tres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.caja-dos {
    width: 84%;
    margin: 2rem;
}
.caja-dos p{
    margin: 1.8rem 0;
}
.caja-cuatro p {
    line-height: 1px ;
}
.resaltado{
    font-weight: 900;
}
.caja-tres img{
    width: 3rem;
    height: 3rem;
}
.pago{
    margin-top: 2.3rem;
}
.pago a{
    text-decoration: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 1rem 3rem;
    border-radius: 11px;
}
.cancelar {
    margin-top: 2rem;
}
.cancelar a{
    text-decoration: none;
    color:hsl(224, 23%, 55%);
}